.css-hyum1k-MuiToolbar-root {
  background: rgb(56, 115, 245);
}

.watchList {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  background: rgb(241, 231, 243);
  margin-left: 10px;
}

.watchListItem {
  display: inline-block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 320px;
  margin: 20px;
  margin-left: 20px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  color: azure;
  background: rgb(147, 166, 243);
}
